applications/security/xml/Security.wsdl

<?xml version='1.0' encoding='UTF-8'?>

<!-- WSDL file generated by Zend Studio. -->

<definitions name="Security" targetNamespace="urn:Security" xmlns:typens="urn:Security" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns="http://schemas.xmlsoap.org/wsdl/">
	<types>
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="urn:Security">
			<xsd:complexType name="CToken">
				<xsd:all>
					<xsd:element name="entidad" type="xsd:integer"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="usuario" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CAplicacionArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CAplicacion[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CEntidadArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CEntidad[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CFuncionalidadArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CFuncionalidad[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="anyTypeArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="xsd:anyType[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CUrlArray">
				<xsd:complexContent>
					<xsd:restriction base="soapenc:Array">
						<xsd:attribute ref="soapenc:arrayType" wsdl:arrayType="typens:CUrl[]"/>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="CAplicacion">
				<xsd:all>
					<xsd:element name="aplicacion" type="xsd:string"/>
					<xsd:element name="idAplicacion" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CEntidad">
				<xsd:all>
					<xsd:element name="entidad" type="xsd:string"/>
					<xsd:element name="idEntidad" type="xsd:integer"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CFuncionalidad">
				<xsd:all>
					<xsd:element name="alto" type="xsd:integer"/>
					<xsd:element name="ancho" type="xsd:integer"/>
					<xsd:element name="funcionalidad" type="xsd:string"/>
					<xsd:element name="idFuncionalidad" type="xsd:integer"/>
					<xsd:element name="menu" type="xsd:boolean"/>
				</xsd:all>
			</xsd:complexType>
			<xsd:complexType name="CUrl">
				<xsd:all>
					<xsd:element name="idUrl" type="xsd:integer"/>
					<xsd:element name="url" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>
	<message name="__toString"/>
	<message name="__toStringResponse">
		<part name="__toStringReturn" type="xsd:string"/>
	</message>
	<message name="parse">
		<part name="pString" type="xsd:string"/>
	</message>
	<message name="parseResponse">
		<part name="parseReturn" type="typens:CToken"/>
	</message>
	<message name="autenticarUsuario">
		<part name="pUsuario" type="xsd:string"/>
		<part name="pPassword" type="xsd:string"/>
		<part name="pIdEntidad" type="xsd:integer"/>
	</message>
	<message name="autenticarUsuarioResponse">
		<part name="autenticarUsuarioReturn" type="xsd:string"/>
	</message>
	<message name="obtenerAplicacionesDadoToken">
		<part name="pToken" type="xsd:string"/>
	</message>
	<message name="obtenerAplicacionesDadoTokenResponse">
		<part name="obtenerAplicacionesDadoTokenReturn" type="typens:CAplicacionArray"/>
	</message>
	<message name="obtenerEntidades"/>
	<message name="obtenerEntidadesResponse">
		<part name="obtenerEntidadesReturn" type="typens:CEntidadArray"/>
	</message>
	<message name="obtenerEntidadesSubordinadasDadoIdEntidad">
		<part name="pIdEntidad" type="xsd:integer"/>
	</message>
	<message name="obtenerEntidadesSubordinadasDadoIdEntidadResponse">
		<part name="obtenerEntidadesSubordinadasDadoIdEntidadReturn" type="typens:CEntidadArray"/>
	</message>
	<message name="obtenerFuncionalidadesDadoIdModuloYToken">
		<part name="pIdModulo" type="xsd:integer"/>
		<part name="pToken" type="typens:CToken"/>
	</message>
	<message name="obtenerFuncionalidadesDadoIdModuloYTokenResponse">
		<part name="obtenerFuncionalidadesDadoIdModuloYTokenReturn" type="typens:CFuncionalidadArray"/>
	</message>
	<message name="obtenerModulosDadoIdAplicacionYToken">
		<part name="pIdAplicacion" type="xsd:integer"/>
		<part name="pToken" type="xsd:string"/>
	</message>
	<message name="obtenerModulosDadoIdAplicacionYTokenResponse">
		<part name="obtenerModulosDadoIdAplicacionYTokenReturn" type="typens:CModulosArray"/>
	</message>
	<message name="obtenerUrlsDadoIdFuncionalidadYToken">
		<part name="pIdFuncionalidad" type="xsd:integer"/>
		<part name="pToken" type="typens:CToken"/>
	</message>
	<message name="obtenerUrlsDadoIdFuncionalidadYTokenResponse">
		<part name="obtenerUrlsDadoIdFuncionalidadYTokenReturn" type="typens:CUrlArray"/>
	</message>
	<portType name="CTokenPortType">
		<operation name="__toString">
			<input message="typens:__toString"/>
			<output message="typens:__toStringResponse"/>
		</operation>
		<operation name="parse">
			<input message="typens:parse"/>
			<output message="typens:parseResponse"/>
		</operation>
	</portType>
	<portType name="SecurityPortType">
		<operation name="autenticarUsuario">
			<input message="typens:autenticarUsuario"/>
			<output message="typens:autenticarUsuarioResponse"/>
		</operation>
		<operation name="obtenerAplicacionesDadoToken">
			<input message="typens:obtenerAplicacionesDadoToken"/>
			<output message="typens:obtenerAplicacionesDadoTokenResponse"/>
		</operation>
		<operation name="obtenerEntidades">
			<input message="typens:obtenerEntidades"/>
			<output message="typens:obtenerEntidadesResponse"/>
		</operation>
		<operation name="obtenerEntidadesSubordinadasDadoIdEntidad">
			<input message="typens:obtenerEntidadesSubordinadasDadoIdEntidad"/>
			<output message="typens:obtenerEntidadesSubordinadasDadoIdEntidadResponse"/>
		</operation>
		<operation name="obtenerFuncionalidadesDadoIdModuloYToken">
			<input message="typens:obtenerFuncionalidadesDadoIdModuloYToken"/>
			<output message="typens:obtenerFuncionalidadesDadoIdModuloYTokenResponse"/>
		</operation>
		<operation name="obtenerModulosDadoIdAplicacionYToken">
			<input message="typens:obtenerModulosDadoIdAplicacionYToken"/>
			<output message="typens:obtenerModulosDadoIdAplicacionYTokenResponse"/>
		</operation>
		<operation name="obtenerUrlsDadoIdFuncionalidadYToken">
			<input message="typens:obtenerUrlsDadoIdFuncionalidadYToken"/>
			<output message="typens:obtenerUrlsDadoIdFuncionalidadYTokenResponse"/>
		</operation>
	</portType>
	<binding name="CTokenBinding" type="typens:CTokenPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="__toString">
			<soap:operation soapAction="urn:CTokenAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="parse">
			<soap:operation soapAction="urn:CTokenAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<binding name="SecurityBinding" type="typens:SecurityPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="autenticarUsuario">
			<soap:operation soapAction="urn:SecurityAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="obtenerAplicacionesDadoToken">
			<soap:operation soapAction="urn:SecurityAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="obtenerEntidades">
			<soap:operation soapAction="urn:SecurityAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="obtenerEntidadesSubordinadasDadoIdEntidad">
			<soap:operation soapAction="urn:SecurityAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="obtenerFuncionalidadesDadoIdModuloYToken">
			<soap:operation soapAction="urn:SecurityAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="obtenerModulosDadoIdAplicacionYToken">
			<soap:operation soapAction="urn:SecurityAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
		<operation name="obtenerUrlsDadoIdFuncionalidadYToken">
			<soap:operation soapAction="urn:SecurityAction"/>
			<input>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>
			<output>
				<soap:body namespace="urn:Security" use="encoded" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>
	<service name="SecurityService">
		<port name="CTokenPort" binding="typens:CTokenBinding">
			<soap:address location=""/>
		</port>
		<port name="SecurityPort" binding="typens:SecurityBinding">
			<soap:address location="cosa rara"/>
		</port>
	</service>
</definitions>
